table.war_soundy th {
	width: 25% !important;
	vertical-align: top !important;
	text-align: left !important;
}

input[type=button].war_soundy {
	height: 30px !important;
	line-height: 28px !important;
	padding: 0 12px 2px !important;
	color: #ffffff !important;
	background-color: #2eaecc !important;
	border-radius: 3px !important;
	border: #0074a2 1px solid !important;
	cursor: pointer !important;
}

audio.war_soundy,
img.war_soundy {
	margin: 8px 0 0 2px !important;
}

table.war_soundy_no_border,
table.war_soundy_no_border th,
table.war_soundy_no_border td {
	border: 0px solid red !important;
	margin: 0 !important;
	padding: 0 !important;
}


@media only screen and (max-width: 480px) {
	.war_soundy_url_input {
		width: 260px;
	}

	.war_soundy_url_input_metabox {
		width: 180px;
	}
	
	.war_soundy_audio_title_input {
		width: 300px;
	}

	.war_soundy_audio_title_input_metabox {
		width: 220px;
	}
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
	.war_soundy_url_input {
		width: 340px;
	}

	.war_soundy_url_input_metabox {
		width: 200px;
	}

	.war_soundy_audio_title_input {
		width: 360px;
	}

	.war_soundy_audio_title_input_metabox {
		width: 300px;
	}
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
	.war_soundy_url_input {
		width: 500px;
	}

	.war_soundy_url_input_metabox {
		width: 280px;
	}

	.war_soundy_audio_title_input {
		width: 600px;
	}

	.war_soundy_audio_title_input_metabox {
		width: 400px;
	}
}
 
@media only screen and (min-width: 1025px) {
	.war_soundy_url_input {
		width: 800px;
	}

	.war_soundy_url_input_metabox {
		width: 600px;
	}

	.war_soundy_audio_title_input {
		width: 760px;
	}

	.war_soundy_audio_title_input_metabox {
		width: 700px;
	}
}