
a:active,
a:focus 
{
	outline: 0 !important;
	text-decoration: none !important;
}

table.war_soundy th 
{
	width: 25% !important;
	vertical-align: top !important;
	text-align: left !important;
}

input[type=button].war_soundy,
button.war_soundy 
{
	height: 30px !important;
	line-height: 28px !important;
	padding: 0 12px 20px !important;
	color: #ffffff !important;
	background-color: #2eaecc !important;
	border-radius: 3px !important;
	border: #0074a2 1px solid !important;
	cursor: pointer !important;
	vertical-align: middle !important;
}

input[type=button].war_soundy:hover,
button.war_soundy:hover 
{
	background-color: #1e8cbe !important;
}

button.war_soundy_button_media_library_pp_button
{
	height: 30px !important;
	line-height: 28px !important;
	padding: 0 12px 20px !important;
	color: #ffffff !important;
	background-color: #2eaecc !important;
	border-radius: 3px !important;
	border: #0074a2 1px solid !important;
	cursor: pointer !important;
	vertical-align: top !important;
	margin-right: 10px !important;
}

button.war_soundy_button_media_library_pp_button:hover
{
	background-color: #1e8cbe !important;
}

a.war_soundy_hit_link
{
	color: #ffffff !important;
	background-color: #2eaecc !important;
	border-radius: 3px !important;
	padding-left: 5px !important;
	padding-right: 5px !important;
}

.war_soundy_page_preview_label
{
	vertical-align: middle;
}

.war_soundy_page_preview_url
{
	vertical-align: middle;
}

audio.war_soundy 
{
	margin: 0 0 0 2px !important;
	vertical-align: middle !important;
	width: 300px;
	border-radius: 3px;
}

img.war_soundy 
{
	margin: 0 0 0 0 !important;
}

table.war_soundy_no_border,
table.war_soundy_no_border th,
table.war_soundy_no_border td 
{
	border: 0px solid red !important;
	margin: 0 !important;
	padding: 0 !important;
}

.war_soundy_slider
{
	width: 300px; 
	display: inline-block; 
	margin-right: 10px;
}

.war_soundy_slider .ui-slider-handle
{
	background: #2eaecc !important;
	border-color: #0074a2 !important;
}

.war_soundy_slider .ui-slider-handle:hover
{
	background: #1e8cbe !important;
	border-color: #0074a2 !important;
}

.war_soundy_txt_input 
{
	width: 95%;
}

.war_soundy_audio_volume 
{
	width: 40px;
}

#war_soundy_img_preview_here 
{
	display: none;
	cursor: pointer;
}

@media only screen and (max-width: 480px) 
{

}

@media only screen and (min-width: 481px) and (max-width: 768px) 
{

}

@media only screen and (min-width: 769px) and (max-width: 1024px) 
{

}
 
@media only screen and (min-width: 1025px) 
{

}